{% extends "app/base.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}

    <div class="fieldWrapper">
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Your account's email address</label>
<!--            <input class="form-control" type="email" id="{{ form.email.id_for_label }}" value="{{ form.email }}">-->
            {{ form.email }}
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Reset password">

</form>
{% endblock %}
