{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    Bootstrap CSS: must come before any other CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
<!--jQuery: Must be in head before any scripts using jQuery (eg, color picker) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    Bootstrap Colorpicker Plugin -->
    <link href="https://unpkg.com/bootstrap-colorpicker@3.2.0/dist/css/bootstrap-colorpicker.css" rel="stylesheet">

    {# Google Analytics #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133644626-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133644626-3');
    </script>

    {# favicon: requires "load static" at top; https://realfavicongenerator.net ; then modify how static files are loaded  #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#ffffff">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">

    {# cookie banner #}
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},"button":{"background":"#555555","text":"#ffffff"}},"position":"bottom","transparency":"10","content":{"href":"https://www.websitepolicies.com/policies/view/bu81NMv1"}})});</script>

    <title>Ideally</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
<!--        Branding and title -->
        <a class="navbar-brand" href="{% url 'app:redirect' %}">
            <i class="fas fa-lightbulb"></i>
            Ideally
        </a>
<!--        Menu toggle button when collapsed -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--        Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:index' %}">Ideas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:tag-index' %}">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout ({{ user.get_username }})</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'django_registration_register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content container">
        {% block content %}
        {% endblock %}

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>

    {% include "includes/footer.html" %}

<!--    Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Bootstrap color picker -->
    <script src="https://unpkg.com/bootstrap-colorpicker@3.2.0/dist/js/bootstrap-colorpicker.js"></script>
</body>
</html>