{% extends 'app/base.html' %}

{% block content %}
    {% if idea_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in idea_list %}
            <tr>
                <td><a href="{% url 'app:detail' idea.id %}">{{ idea.title }}</a></td>
                <td>
                    {% for tag in idea.tags.all %}
                        <span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'app:detail' idea.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Detail">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="{% url 'app:edit' idea.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'app:delete' idea.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No ideas added yet.</p>
    {% endif %}


<!--    add new button -->
    <a href="{% url 'app:add' %}" style="position: fixed; bottom: 1em; left: 1em;" data-toggle="tooltip" data-placement="top" title="Add new idea">
        <i class="fas fa-plus-circle fa-3x"></i>
    </a>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}
