{% extends 'app/base.html' %}

{% block content %}
    <h1>{{ idea.title }}</h1>
    <p class="small">
        Created on: {{ idea.creation_date }}
        <br>
        Updated on: {{ idea.update_date }}
    </p>

    <p>Tags:
        {% for tag in idea.tags.all %}
            <a href="{% url 'app:tag-detail' tag.id %}"><span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span></a>
        {% endfor %}
    </p>

    {% if idea.description != "" %}
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-header">Description</div>
            <div class="card-body">
                <div class="card-text">{{ idea.description }}</div>
            </div>
        </div>
    {% endif %}

{#    TODO: move into extra html file and include #}
    {% if idea.milestone_set.exists %}
    <div class="card">
        <div class="card-header">Milestones</div>
        <ul class="list-group list-group-flush">
            {% for milestone in idea.milestone_set.all %}
                <li class="list-group-item">
                    {{ milestone.name }}
                    {% if  milestone.description != "" %}
                    <br>
                    <div class="small">{{ milestone.description }}</div>
                    {% endif %}

{#                FIXME: buttons and actions for completing, editing, removing milestones #}
{#                    <div style="display: inline-block;">#}
{#                        {% if milestone.completed %}#}
{#                        <a href="{{ milestone.uncomplete }}" class="btn btn-primary" style="margin: 5px;"><i class="fas fa-check-circle"></i> Completed</a>#}
{#                            <button type="button" class="btn btn-success" onclick="{{ milestone.uncomplete }}">Completed</button>#}
{#                        {% else %}#}
{#                        <button type="button" class="btn btn-primary" onclick="{{ milestone.complete }}">Completeeee</button>#}
{#                        <a href="{{ milestone.complete }}" class="btn btn-success" style="margin: 5px;"><i class="far fa-check-circle"></i> Completed</a>#}
{#                        {% endif %}#}
{#                        <a href="" class="btn btn-secondary" style="margin: 5px;"><i class="fas fa-edit"></i> Edit</a>#}
{#                        <a href="" class="btn btn-danger" style="margin: 5px;"><i class="fas fa-trash"></i> Delete</a>#}
{#                    </div>#}

                </li>
{#                    TODO: display description and date if available; later: complete, remove #}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{#    {% if idea.image == "" %}#}
{#        <p>No image uploaded for this idea.</p>#}
{#    {% else %}#}
{#        <img src="{{ idea.image.url }}" alt="Uploaded image for idea with URL {{ idea.image.url }}">#}
{#    {% endif %}#}

{#    notes #}
    <div class="card-columns">
        {% for note in idea.note_set.all %}
            <div class="card">
                <div class="card-header">{{ note.title }}</div>
                <div class="card-body">
                    <div class="card-text">{{ note.note }}</div>
                    <a href="{% url 'app:edit-note' idea.pk note.pk %}" class="btn btn-light" style="margin-top: 5px;"><i class="fas fa-edit"></i> Edit Note</a>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteNoteModal"><i class="fas fa-trash"></i> Delete Note</button>
                </div>
            </div>

            {% url 'app:delete-note' idea.pk note.pk as delete_note_url %}
            {% include 'includes/confirm_delete_modal.html' with modal_id="deleteNoteModal" item_title=note.title delete_url=delete_note_url %}
        {% endfor %}
    </div>


    <a class="btn btn-primary" href="{% url 'app:add-note' idea.id %}"><i class="far fa-sticky-note"></i> Add Note</a>
    <a class="btn btn-secondary" href="{% url 'app:edit' idea.id %}"><i class="fas fa-edit"></i> Edit Idea</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteIdeaModal"><i class="fas fa-trash"></i> Delete Idea</button>
    {% url 'app:delete' idea.pk as delete_idea_url %}
    {% include 'includes/confirm_delete_modal.html' with modal_id="deleteIdeaModal" item_title=idea.title delete_url=delete_idea_url %}
{% endblock %}
