{% extends 'app/base.html' %}

{% block content %}
    {% if idea_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in idea_list %}
            <tr>
                <td>
                    <a href="{% url 'app:detail' idea.id %}">{{ idea.title }}</a>
                    <br>
                    <div class="small">{{ idea.description }}</div>
                </td>
                <td>
                    {% for tag in idea.tags.all %}
                        <a href="{% url 'app:tag-detail' tag.id %}"><span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span></a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'app:detail' idea.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Detail">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="{% url 'app:edit' idea.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>

                    <dev data-toggle="tooltip" data-placement="top" title="Delete">
                        <a href="" style="margin: 5px;" data-toggle="modal" data-target="#{{ idea.title }}"><i class="fas fa-trash"></i></a>
                        {% url 'app:delete' idea.pk as delete_idea_url %}
                        {% include 'includes/confirm_delete_modal.html' with modal_id=idea.title item_title=idea.title delete_url=delete_idea_url %}
                    </dev>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No ideas added yet.</p>
    {% endif %}


<!--    add new button -->
    <a href="{% url 'app:add' %}" style="position: fixed; bottom: 1em; right: 1em;" data-toggle="tooltip" data-placement="top" title="Add new idea">
        <i class="fas fa-plus-circle fa-3x"></i>
    </a>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

{% endblock %}
