{% extends 'app/base.html' %}

{% block content %}
    {% if idea_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Tags</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for idea in idea_list %}
            <tr>
                <td><a href="{% url 'app:detail' idea.id %}">{{ idea.title }}</a></td>
                <td>
                    {% for tag in idea.tags.all %}
                        <span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ idea.creation_date }}</td>
                <td>{{ idea.update_date }}</td>
                <td><a href="{% url 'app:edit' idea.id %}"><i class="fas fa-edit"></i></a></td>
                <td><a href="{% url 'app:delete' idea.id %}"><i class="fas fa-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No ideas added yet.</p>
    {% endif %}

    <div class="position-absolute">
        <a href="{% url 'app:add' %}"><i class="fas fa-plus-circle fa-3x"></i></a>
    </div>
{% endblock %}
