{% extends 'app/base.html' %}

{% block content %}
    {% if tag_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Tag</th>
                <th scope="col">#Ideas</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tag_list %}
            <tr>
                <td>
                    <a href="{% url 'app:tag-detail' tag.id %}">{{ tag.name }}</a>
                    <br>
                    <div class="small">{{ tag.description }}</div>
                </td>
                <td><a href="{% url 'app:tag-detail' tag.id %}"><span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span></a></td>
                <td>{{ tag.idea_set.count }}</td>
                <td>
                    <a href="{% url 'app:tag-detail' tag.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Detail">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    <a href="{% url 'app:tag-edit' tag.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'app:tag-delete' tag.id %}" style="margin: 5px;" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>No tags added yet.</p>
    {% endif %}


<!--    add new button -->
    <a href="{% url 'app:tag-add' %}" style="position: fixed; bottom: 1em; right: 1em;" data-toggle="tooltip" data-placement="top" title="Add new tag">
        <i class="fas fa-plus-circle fa-3x"></i>
    </a>
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
