{% extends 'app/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
{#        {{ form.as_p }}#}

        <div class="form-group">
            {{ form.name.label_tag }}
            <input class="form-control" type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" value="{{ form.name.value }}">
            {#    {% if form.help_text %}#}
            {#    <small class="form-text text-muted">{{ form.help_text }}</small>#}
            {#    {% endif %}#}
            {{ form.name.errors }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            <input class="form-control" type="text" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" value="{{ form.description.value }}">
            {{ form.description.errors }}
        </div>
        <div class="form-group">
            {{ form.color.label_tag }}
            <input class="form-control" type="color" id="{{ form.color.id_for_label }}" name="{{ form.color.name }}" value="{{ form.color.value }}">
            {{ form.color.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
