{% extends 'app/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

<!-- TODO: properly style fields using bootstrap, eg, for color picker-->

<!--        {{ form.non_field_errors }}-->
<!--        <div class="fieldWrapper">-->
<!--            <div class="form-group">-->
<!--                {{ form.name.errors }}-->
<!--                <label for="{{ form.name.id_for_label }}">Name</label>-->
<!--                {{ form.name }}-->
<!--&lt;!&ndash;                <label for="nameInput">Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input class="form-control" type="text" id="nameInput"placeholder="Name" value="{{ tag.name }}">&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="nameInput">Name</label>-->
<!--            <input class="form-control" type="text" id="nameInput" placeholder="Name" value="{{ tag.name }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="descrInput">Description</label>-->
<!--            <input class="form-control" type="text" id="descrInput" placeholder="Description" value="{{ tag.description }}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="colorInput">Color</label>-->
<!--            <input class="form-control" type="color" id="colorInput" placeholder="Color" value="{{ tag.color }}">-->
<!--        </div>-->

        <input type="submit" value="Save">
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
    </form>
{% endblock %}
