{% extends 'app/base.html' %}

{% block content %}
    <h1>{{ tag.name }}</h1>
    <p>Description: {{ tag.description }}</p>
    <p>With color: <span class="badge badge-primary" style="background-color: {{ tag.color }}">{{ tag.name }}</span></p>
    <p>Ideas with this tag:
        <ul>
            {% for idea in tag.idea_set.all %}
                <li><a href="{% url 'app:detail' idea.id %}">{{ idea.title }}</a></li>
            {% endfor %}
        </ul>
    </p>

<!--    <div class="demo">-->
<!--      <h1>Bootstrap Colorpicker Demo (with Bootstrap)</h1>-->
<!--      <input id="demo-input" type="text" value="rgb(255, 128, 0)" />-->
<!--    </div>-->

    <a class="btn btn-secondary" href="{% url 'app:tag-edit' tag.id %}">Edit <i class="fas fa-edit"></i></a>
    <a class="btn btn-danger" href="{% url 'app:tag-delete' tag.id %}">Delete <i class="fas fa-trash"></i></a>

    <script>
    $(function () {
      // Basic instantiation:
      $('#demo-input').colorpicker();

      // Example using an event, to change the color of the #demo div background:
      $('#demo-input').on('colorpickerChange', function(event) {
        $('#demo').css('background-color', event.color.toString());
      });
    });
  </script>
{% endblock %}
